<head>
    <%= stylesheet_link_tag "date" %>
    <style>
    @font-face 
    {
      font-family: "CaviarDreams";
      src: url("fonts/CaviarDreams.ttf");
    }
    @font-face 
    {
      font-family: "Sunday";
      src: url("fonts/Sunday.otf");
    }
</style>
<strong>
   <%= link_to "LOGGER POMPEK", profile_index_path, class: "home_page_on_profile_page" %>
</strong>
</head>
<body>
    <script>
        function ShowNagivationVertical() 
        {
             if (document.getElementById("nagivationVertical").style.display === "none") 
            {
                document.getElementById("nagivationVertical").style.display = "block";
            } 
            else 
            {
                document.getElementById("nagivationVertical").style.display = "none";
            }
        }
    </script>
    <%= image_tag("profile.png", :alt => "profile", class: "profile") %>
    <div class="nagivationHorizontal">
    </div>

    <button onclick="ShowNagivationVertical()" class="showNavVer"><%= image_tag("icons8-menu-50.png", :alt => "icon", class: "icon") %></button></li>
    
    <div id="nagivationVertical">
        <div class="dateProfile">
            <h1 class="helloProfile">Witaj <%= @user.name %> <%= @user.surname %></h1>
            <h3 class="nickProfile">jako <%= @user.nick %></h3>
        </div
        <ul class="list_button">
            <li class="list_li"><%= link_to "PROFIL", date_path(@user.id), class: "buttonNavVer" %></li>
            <li class="list_li"><%= link_to "TRANING", training_path(@user.id), class: "buttonNavVer" %></li>
            <li class="list_li"><%= link_to "RANKING", ranking_index_path, class: "buttonNavVer" %></li>
            <li class="list_li"><button onclick="ShowProfile()" class="buttonNavVer">USTAWIENIA</button></li>
            <li class="list_li"><%= button_to 'WYLOGUJ SIĘ', destroy_user_session_path, method: :delete, class: "buttonNavVer" %></li>
        </ul>
    </div>

    <div class="panelUser">
            <%= link_to "PROFIL UŻYTKOWNIKA", date_path(@user.id), class: "panel" %>
            <p class="date">IMIĘ</p> 
            <p class="date">NAZWISKO</p>
            <p class="date">NICK</p>
            <p class="date">WIEK</p>
            <p class="date">E-MAIL</p>
            <div class="showOutput">
                <p class="output"><%= @user.name %></p>
                <p class="output"><%= @user.surname %></p>
                <p class="output"><%= @user.nick %></p>
                <p class="output"><%= @user.age %></p>
                <p class="output"><%= @user.email %></p>
            </div
    </div>
</body>

